<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <meta charset="utf-8">
    <title>AngularJS</title>
    <script>
      (function(){
        var app = angular.module('myApp', []);
        app.controller('CopyController', [function() {
          var self = this;
          self.thesame = {};
          self.save = function(user) {
            self.thesame = angular.copy(user);
          };
          self.reset = function() {
            angular.copy(self.thesame, self.user);
          };
          self.reset();
        }]);
      })();
    </script>
  </head>
  <body>
    <div ng-controller="CopyController as copy">
      <form novalidate class="simple-form">
        名字 : <input type="text" ng-model="copy.user.name" /><br />
        性別 : <input type="radio" ng-model="copy.user.gender" value="male" />male
        <input type="radio" ng-model="copy.user.gender" value="female" />female<br />
        <button ng-click="copy.save(copy.user)"> 儲存 </button>
        <button ng-click="copy.reset()"> 復原 </button>
      </form>
      <pre>form = {{copy.user | json}}</pre>
      <pre>thesame = {{copy.thesame | json}}</pre>
    </div>
  </body>
</html>