<!DOCTYPE html>
<html ng-app="FilterTest">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <meta charset="utf-8">
    <title>AngularJS</title>
    <script>
      (function(){
        var app = angular.module("FilterTest", []);
        app.controller('FilterCtroller', ['$scope', function($scope) {
          $scope.friends = [{
            name: 'John',
            age: 10
          }, {
            name: 'Eric',
            age: 35
          }, {
            name: 'Mary',
            age: 29
          }];
        }]);
      })();
    </script>
  </head>
  <body>
    <div ng-controller="FilterCtroller as filter">
      <span>search:</span><input ng-model="search" />
      <table class="friend">
        <tr>
          <th>Name </th>
          <th>Age</th>
        </tr>
        <tr ng-repeat="friend in friends | filter:search">
          <td>{{friend.name}}</td>
          <td>{{friend.age}}</td>
        </tr>
      </table>
    </div>
  </body>
</html>