<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <meta charset="utf-8">
    <title>AngularJS</title>
    <script>
      (function() {
        var app = angular.module('myApp', []);
        app.controller('AngularController', function() {
          this.num = 0;
          this.count = function() {
            this.num++;
          };
        });
      })();
    </script>
  </head>
  <body>
    <div ng-controller="AngularController as angular" >
      數量：<input type="text" readonly="readonly" ng-model="angular.num"/>
      <input type="button" ng-click="angular.count()" value="+"/>
    </div>
  </body>
</html>